extends layout

block content
  p.welcome Welcome to
  img(src='/images/tate-logo-black.png', class="tate-logo")
  ul.home-buttons
    li
      a(href='/artists') ARTISTS
    li
      a(href='/artworks') ARTWORKS
