doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
  body
    header
      h1 TATE
      ul.menu
        li
          a(href='/') Home
        li
          a(href='/artists') Artists
        li
          a(href='/artworks') Artworks
    .wrapper
      block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/global.js')

    footer
      a(href="http://mvidalgarcia.com")
        i(class="fa fa-code")
        |  with #{''}
        i(class="fa fa-heart")
        |  by @mvidalgarcia
