doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 TATE
      ul.menu
        li
          a(href='/') Home
        li
          a(href='/artists') Artists
        li
          a(href='/artworks') Artworks
    .wrapper
      block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/global.js')

    footer
      a(href="http://mvidalgarcia.com") &lt;/&gt; with (L) by @mvidalgarcia
